<div class="p-8">
    <div class="card">
        <p-tabView class="border-circle">
            <p-tabPanel header="Premium" leftIcon="pi pi-money-bill">

                <div class="flex flex-column justify-content-start">
                    <div>
                        <h3>Benefit : </h3>
                    </div>
                    <div>
                        <p>Get Unlock premium thread</p>
                    </div>
                </div>

            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<div class="flex justify-content-around align-items-center pl-8 pr-8">

   <div class="w-15rem h-15rem glasses flex flex-column justify-content-center align-items-center text-red-500">
    <i class="pi pi-star-fill"></i>
        <h3>600k/3 Month</h3>
   </div>

   <div class="w-20rem h-20rem glasses flex flex-column justify-content-center align-items-center text-red-500">
    <i class="pi pi-star-fill"></i>
        <h3>1200k/36 Month</h3>
   </div>

   <div class="w-15rem h-15rem glasses flex flex-column justify-content-center align-items-center text-red-500">
    <i class="pi pi-star-fill"></i>
        <h3>300k/1 Month</h3>
   </div>




</div>


<div class="p-8">
    <div class="card">
        <p-tabView class="border-circle">
            <p-tabPanel header="Form Input" leftIcon="pi pi-list">

                <div class="flex flex-column justify-content-start w-full">
                    <h4>Premium choose</h4>
                    <p-dropdown class="wdrop mt-3" [style]="{'width':'1300px'}">
                    </p-dropdown>

                </div>

                <div class="flex flex-column justify-content-start mt-3">
                    <h4>Evidence Of Transfer</h4>
                    <p-fileUpload mode="basic" class="w-full mt-3" chooseLabel="Browse"> </p-fileUpload>
                </div>

                <div class="flex justify-content-end mt-3">
                    <button pButton label="Submit" class="bg-red-500"></button>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>