<div class="p-8">
    <div class="mb-5 flex align-items-center justify-content-between">
        <h2>List All Premium Payment</h2>
    </div>
    <form>
        <p-table [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [rows]="maxPage" [totalRecords]="totalData" [value]="paymentData" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading" class="glasses">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>File</th>
                    <th>Approve</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{list.fullname}}</td>
                    <td>
                        <a pButton pRipple href="http://localhost:1234/files/{{list.fileId}}" icon="pi pi-download" class="p-button-rounded p-button-primary p-button-text no-underline"></a>
                    </td>
                    <td>
                        <p-checkbox *ngIf="list.isAprove === true" [binary]="true" [(ngModel)]="list.isAprove" name="isApprove" inputId="binary" [disabled]="true"></p-checkbox>
                        <p-checkbox *ngIf="list.isAprove === null" [binary]="false" [(ngModel)]="list.isAprove" name="isApprove" inputId="binary" [disabled]="true"></p-checkbox>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </form>
</div>