<div class="p-8">
    <div class="mb-5 flex align-items-center justify-content-between w-19rem">
        <i class="pi pi-bars"></i>
        <h2>List Approval Payment</h2>
    </div>
    <form action="">
        <p-table [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [value]="paymentData" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadPayments($event)" [loading]="loading" class="glasses">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>File</th>
                    <th>Approve</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{list.fullName}}</td>
                    <td>
                        <a class="pi pi-download" href="http://localhost:1234/files/{{list.fileId}}"></a>
                    </td>
                    <td>
                        <p-checkbox [binary]="true" [(ngModel)]="list.isApprove" name="isApprove" inputId="binary" [disabled]="true"></p-checkbox>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <pre>
            {{payments.data}}
        </pre>
        <div class="mt-2 flex justify-content-end">
            <button pButton label="Submit" icon="pi pi-check" styleClass="p-button-sm"></button>
        </div>
    </form>

</div>