<div class="p-8">
    <div class="mb-5 flex align-items-center justify-content-between w-19rem">
        <h2>List Premium Payment</h2>
    </div>
    <form action="">
        <p-table [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [value]="premiumData" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading" class="glasses">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>File</th>
                    <th>Approve</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{list.fullname}}</td>
                    <td>
                        <a pButton pRipple href="http://localhost:1234/files/{{list.fileId}}" icon="pi pi-download" class="p-button-rounded p-button-primary p-button-text no-underline"></a>
                    </td>
                    <td>
                        
                        <p-checkbox *ngIf="list.isAprove === true" [binary]="true" [(ngModel)]="list.isAprove" name="isApprove" inputId="binary" [disabled]="true"></p-checkbox>
                        <p-checkbox *ngIf="list.isAprove === null" [binary]="false" [(ngModel)]="list.isAprove" name="isApprove" inputId="binary" [disabled]="true"></p-checkbox>
                    </td>
                    <td>
                        <button pButton icon="pi pi-check" class="p-button-outlined p-button-rounded p-button-success mr-3" (click)="confirm(list.id, list.paymentId, list.price)"></button>
                        <button pButton icon="pi pi-times" class="p-button-outlined p-button-rounded p-button-danger" (click)="confirmReject(list.id, list.paymentId)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </form>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>