<div class="p-8">
    <div class="grid">
    <div class="p-card col-12" id="card-article">
            <div class="grid">
                <div class="col-12">
                    <div class="ml-5 mr-5 h-4rem" >
                        <p-tabView>
                            <p-tabPanel>
                                <ng-template pTemplate = "header">
                                    <i id="icon" class="pi pi-calendar "></i>
                                    <span id="article" class="ml-3">Event</span>
                                </ng-template>
                            </p-tabPanel>
                            <p-tabPanel>
                                <ng-template pTemplate = "header">
                                    <i id="icon" class="pi pi-chart-pie "></i>
                                    <span id="article" class="ml-3">Course</span>
                                </ng-template>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
              
                    <div class="flex flex-row flex-wrap justify-content-between gap-4 mt-3 ml-5 mr-5">
                        <p-card [style]="{width: '350px'}">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="../../../assets/card-image.png">
                                <div class="flex flex-row justify-content-between px-3">
                                    <span><i class="pi pi-github text-red-400"></i> Linov</span>
                                    <span><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                                </div>
                            </ng-template>
                            <span class="card-title text-center mt-0">Recruitment Interview Expert Training</span>
                            <div class="flex flex-row justify-content-between mt-2">
                                <span class="card-content"><i class="pi pi-calendar text-red-400"></i> 22 Agustus 2022</span>
                                <span class="card-content"><i class="pi pi-clock text-red-400"></i> 12:00 - 14:00 WIB</span>
                            </div>
                            <div class="flex flex-row justify-content-between mt-3">
                                <span class="card-content"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                                <span class="card-content"><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                            </div>
                        </p-card>

                        <p-card [style]="{width: '350px'}" >
                            <ng-template pTemplate="header">
                                <img alt="Card" src="../../../assets/card-image.png">
                                <div class="flex flex-row justify-content-between px-3">
                                    <span><i class="pi pi-github text-red-400"></i> Linov</span>
                                    <span><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                                </div>
                            </ng-template>
                            <span class="card-title text-center mt-0">Recruitment Interview Expert Training</span>
                            <div class="flex flex-row justify-content-between mt-2">
                                <span class="card-content"><i class="pi pi-calendar text-red-400"></i> 22 Agustus 2022</span>
                                <span class="card-content"><i class="pi pi-clock text-red-400"></i> 12:00 - 14:00 WIB</span>
                            </div>
                            <div class="flex flex-row justify-content-between mt-3">
                                <span class="card-content"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                                <span class="card-content"><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                            </div>
                        </p-card>

                        <p-card [style]="{width: '350px'}">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="../../../assets/card-image.png">
                                <div class="flex flex-row justify-content-between px-3">
                                    <span><i class="pi pi-github text-red-400"></i> Linov</span>
                                    <span><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                                </div>
                            </ng-template>
                            <span class="card-title text-center mt-0">Recruitment Interview Expert Training</span>
                            <div class="flex flex-row justify-content-between mt-2">
                                <span class="card-content"><i class="pi pi-calendar text-red-400"></i> 22 Agustus 2022</span>
                                <span class="card-content"><i class="pi pi-clock text-red-400"></i> 12:00 - 14:00 WIB</span>
                            </div>
                            <div class="flex flex-row justify-content-between mt-3">
                                <span class="card-content"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                                <span class="card-content"><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                            </div>
                        </p-card>

                        <p-card [style]="{width: '350px'}">
                            <ng-template pTemplate="header">
                                <img alt="Card" src="../../../assets/card-image.png">
                                <div class="flex flex-row justify-content-between px-3">
                                    <span><i class="pi pi-github text-red-400"></i> Linov</span>
                                    <span><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                                </div>
                            </ng-template>
                            <span class="card-title text-center mt-0">Recruitment Interview Expert Training</span>
                            <div class="flex flex-row justify-content-between mt-2">
                                <span class="card-content"><i class="pi pi-calendar text-red-400"></i> 22 Agustus 2022</span>
                                <span class="card-content"><i class="pi pi-clock text-red-400"></i> 12:00 - 14:00 WIB</span>
                            </div>
                            <div class="flex flex-row justify-content-between mt-3">
                                <span class="card-content"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                                <span class="card-content"><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                            </div>
                        </p-card>

                        <p-card [style]="{width: '350px'}" >
                            <ng-template pTemplate="header">
                                <img alt="Card" src="../../../assets/card-image.png">
                                <div class="flex flex-row justify-content-between px-3">
                                    <span><i class="pi pi-github text-red-400"></i> Linov</span>
                                    <span><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                                </div>
                            </ng-template>
                            <span class="card-title text-center mt-0">Recruitment Interview Expert Training</span>
                            <div class="flex flex-row justify-content-between mt-2">
                                <span class="card-content"><i class="pi pi-calendar text-red-400"></i> 22 Agustus 2022</span>
                                <span class="card-content"><i class="pi pi-clock text-red-400"></i> 12:00 - 14:00 WIB</span>
                            </div>
                            <div class="flex flex-row justify-content-between mt-3">
                                <span class="card-content"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                                <span class="card-content"><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                            </div>
                        </p-card>

                        <p-card [style]="{width: '350px'}" >
                            <ng-template pTemplate="header">
                                <img alt="Card" src="../../../assets/card-image.png">
                                <div class="flex flex-row justify-content-between px-3">
                                    <span><i class="pi pi-github text-red-400"></i> Linov</span>
                                    <span><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                                </div>
                            </ng-template>
                            <span class="card-title text-center mt-0">Recruitment Interview Expert Training</span>
                            <div class="flex flex-row justify-content-between mt-2">
                                <span class="card-content"><i class="pi pi-calendar text-red-400"></i> 22 Agustus 2022</span>
                                <span class="card-content"><i class="pi pi-clock text-red-400"></i> 12:00 - 14:00 WIB</span>
                            </div>
                            <div class="flex flex-row justify-content-between mt-3">
                                <span class="card-content"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                                <span class="card-content"><i class="pi pi-map-marker text-red-400"></i> Monpera</span>
                            </div>
                        </p-card>
                      
                    </div>
             
                </div>
            </div>
    </div>
</div>
</div>


       