<div class="col-12">
  <div class="card card-w-title">
      <p-menubar [model]="tieredItems" [style]="{'background-color':'transparent','border':'none'}" >
        <ng-template pTemplate="start">
          <div class="flex justify-content-center align-items-center" routerLink="/home">
            <img src="./../../../assets/logo.png" alt="" width="30x" height="30px">
            <h3>Communify</h3>
          </div>
        </ng-template>
      </p-menubar>
  </div>
</div>
  <router-outlet></router-outlet>