<div class="col-12">
  <div class="card card-w-title">
      <p-menubar [model]="tieredItems" [style]="{'background-color':'transparent','border':'none'}" >
        <ng-template pTemplate="start">
          <div class="flex justify-content-center align-items-center">
            <img src="./../../../assets/logo.png" alt="" width="30x" height="30px">
            <h3>Linov</h3>
          </div>
        
        </ng-template>
          <ng-template pTemplate="end">
            <p-avatar label="V" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
          </ng-template>
      </p-menubar>
  </div>
</div>
  <router-outlet></router-outlet>