<div class="p-8">
    <div class="grid">
    <div class="p-card col-8 col-offset-2" id="card-article">
            <div class="grid">
                <div class="col-12">

                    <div class="p-card mr-5 ml-5 mt-5 h-20rem" id="card-image">
                        <img src="../../../../assets/card-image.png" alt="Image" width="100%" height="100%" >
                    </div>
                    <div class="flex flex-column card-container ml-5 mr-5 mt-2">
                        <span class="card-title-detail text-center mt-0">Recruitment Interview Expert Training</span>
                        <div class="flex flex-row justify-content-between mt-2">
                            <span class="card-content-detail"><i class="pi pi-calendar text-red-400"></i> Training</span> 
                            <span class="card-content-detail"><i class="pi pi-tag text-red-400"></i> Rp 135.000</span>
                        </div>
                        <div class="flex flex-row justify-content-between mt-3">
                            <span class="card-content-detail"><i class="pi pi-github text-red-400"></i> LonovHR</span>
                            <span class="card-content-detail"><i class="pi pi-clock text-red-400"></i>20.00 - 21.00 WIB </span>
                        </div>
                        <div class="flex flex-row justify-content-between mt-3">
                           
                            <span class="card-content-detail"><i class="pi pi-calendar text-red-400" style="font-size: 1rem"></i>Jumat, 21 November 1888 </span>
                            <span class="card-content-detail"><i class="pi pi-map-marker text-red-400"></i>Gd Pakuwon Tower tl22</span>
                        </div>
                    </div>
                    <div  class="flex card-container ml-5 mr-5 mt-5" id="button">
                        <button pButton pRipple type="button"  icon="pi pi-upload" label="Upload Bukti Transfer" class=" p-button-sm p-button-rounded p-button-danger" styleClass="p-button-sm"></button>
                        <button pButton pRipple type="button" label="SEND" icon="pi pi-send" class=" p-button-sm p-button-rounded p-button-danger ml-3" styleClass="p-button-sm"></button>
                    </div>
                </div>           
            </div>
    </div>        
    </div>
</div>
       