<div class="p-8">
    <div class="grid">
    <div class="p-card col-8 col-offset-2" id="card-article">
            <div class="grid">
                <div class="col-12">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-fw pi-qrcode text-red-500"></i>
                            <h2>Detail Pembayaran</h2>
                        </div>
                        
                        <h4 class="mt-8 font-medium px-2">Event / Course yang dibeli:</h4>
                        <div class="flex gap-5  w-full justify-content-center">
                            <div>
                                <img src="http://localhost:1234/files/{{eventData.data!.fileId}}" alt="event" width="400" height="200" class="imgEvent border-round mt-4">
                            </div>
                            <div class="mt-4 flex flex-column justify-content-between align-content-between">
                                <div class="grid  w-30rem">
                                    <h4 class="font-normal col-4">Nama Event</h4>
                                    <h4 class="font-normal col-1">:</h4>
                                    <h4 class="font-normal col-7">{{eventData.data!.title}}</h4>
                                </div>
                               
                                <div class="grid">
                                    <h4 class="font-normal col-4">Start Event</h4>
                                    <h4 class="font-normal col-1">:</h4>
                                    <h4 class="font-normal col-7">{{eventData.data!.startDate}}</h4>
                                </div>
                                <div class="grid">
                                    <h4 class="font-normal col-4">End Event</h4>
                                    <h4 class="font-normal col-1">:</h4>
                                    <h4 class="font-normal col-7">{{eventData.data!.endDate}}</h4>
                                </div>
                                <div class="grid">
                                    <h4 class="font-normal col-4">Provider</h4>
                                    <h4 class="font-normal col-1">:</h4>
                                    <h4 class="font-normal col-7">{{eventData.data!.provider}}</h4>
                                </div>
                                <div class="grid">
                                    <h4 class="font-normal col-4">Location</h4>
                                    <h4 class="font-normal col-1">:</h4>
                                    <h4 class="font-normal col-7">{{eventData.data!.location}}</h4>
                                </div>
                                <div class="grid">
                                    <h4 class="font-normal col-4">Price</h4>
                                    <h4 class="font-normal col-1">:</h4>
                                    <h4 class="font-normal col-7">Rp.{{eventData.data!.price}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-end">
                            <button pButton label="pay" icon="pi pi-fw pi-wallet" (click)="showMaximizableDialog()" class="bg-red-500"></button>
                           
<p-dialog [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" header="Detail Payment" [resizable]="false">
 
    
                            <div class="mb-5">
                                <h5 class="font-normal">Nomor Virtual Account</h5>
                                <h4>828312039213810</h4>
                            </div>
                            <div>
                                <h5 class="font-normal">Total Pembayaran</h5>
                                <h4>Rp.{{eventData.data!.price}}</h4>
                            </div>

   
                        
        <ng-template pTemplate="footer" class="flex gap-5">
            <form (ngSubmit)="onsubmit()">
                <div class="flex gap-2">
                    <p-fileUpload mode="basic"  chooseIcon="pi pi-upload" name="file" [customUpload]="true" id="file"  [auto]="true" chooseLabel="avidence of transfer" (uploadHandler)="onInsertFile($event)" [style]="{'background-color':'red'}"></p-fileUpload>
                    <button pButton pRipple type="submit" label="Pay" class="p-button-outlined p-button-danger"></button>
                </div>

                                
            </form>
        
           
          
        </ng-template>
</p-dialog>
                        </div>
                   
              
                </div>           
            </div>
    </div>        
    </div>
</div>
       