.thread-img img{
    object-fit: cover;
    border-radius: 10px;
}

.inputstyle{
    border-radius: 30px;
    border: #BC7682 1px solid;
    width: 500px;
}

.buttonAnswer{
    cursor: no-drop;
    
}

.profile{
    border-radius: 50%;
}
