<div class="p-8">
    <div class="grid">
    <div class="p-card col-12" id="card-article">
            <div class="grid">
                <div class="col-12">

                    <div class="mt-5 ml-5 mr-5">
                        <p-table [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [value]="eventPaymentHistoryData" [rows]="8"  class="glasses">
                            <ng-template pTemplate="caption">
                                <div class="table-header">
                                    <h3>Event Payment Histories</h3>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>No</th>
                                    <th>TrxNo</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Event</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-list let-i="rowIndex">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{list.TrxNo}}</td>
                                    <td>{{list.email}}</td>
                                    <td>{{list.fullname}}</td>
                                    <td>{{list.title}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>


       