<div class="p-5">
    <div>
        <h2 class="font-medium">Edit Event Type</h2>
    </div>
   
    <div class="glasses p-5 border-round h-30rem">
        <button pButton label="back" icon="pi pi-arrow-left" class="bg-red-500" styleClass="p-button-sm" routerLink="/event-types"></button>
        <div>
   <form class=" pt-5 h-20rem" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="grid">
        <div class="md:col-6">
            <label for="type" class="block mb-2">Type <span class="text-red-500">*</span></label>
            <input pInputText name="type" class="inputstyle" [(ngModel)]="data.type" required>
        </div>
        <div class="md:col-6">
            <label for="isActive" class="block mb-2">Is Active <span class="text-red-500">*</span></label>
            <p-checkbox [binary]="true" inputId="binary" name="isActive" [(ngModel)]="data.isActive"></p-checkbox>
        </div>
    </div>
            <div  class="flex justify-content-end">
                <p-button label="Save" styleClass="p-button-sm" type="submit" [loading]="loading"></p-button>
            </div>      
        </form>
        </div>
     
    </div>
</div>