<div class="grid px-8 m-0 row-gap-2">
    <div class="md:col-3 side-bar-profile" *ngIf="isLoggedIn === true">
        <div class="bg-white border-round h-20rem">
            <div class="flex flex-column align-items-center">
                <div *ngIf="file === null">
                    <img src="../../../../assets/unnamed.png" alt="" width="100px" height="100px" class="profile mt-5">

                </div>
                <div *ngIf="file !== null">
                    <img src="http://localhost:1234/files/{{file}}" alt="" width="100px" height="100px"
                        class="profile mt-5">
                </div>

                <h3>{{username}}</h3>
                <h5 class="font-italic font-normal">{{position}}</h5>
            </div>
            <p-divider></p-divider>
            <div class="px-2">
                <div class="flex gap-1">
                    <i class="pi pi-fw pi-money-bill text-red-500"></i>
                    <h5 class="font-normal" *ngIf="balance.data?.currentBalance === 0">Balance : {{ "0" | customCurrency}}</h5>
                    <h5 class="font-normal" *ngIf="balance.data?.currentBalance !== 0">Balance : {{ balance.data?.currentBalance | customCurrency}}</h5>
                </div>

            </div>
            <p-divider></p-divider>
            <div class="px-2 ">
                <div class="flex gap-1 ">
                    <i class="pi pi-fw pi-user text-red-500"></i>
                    <h5 class="font-normal">Status Member :</h5>
                    <div *ngIf="showType === true">
                        <h5 class="font-normal font-italic">Premium</h5>
                    </div>
                    <div *ngIf="showType === false">
                        <h5>Regular</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="bg-white border-round mt-5 p-2">
            <div class="flex gap-2 mb-2">
                <i class="pi pi-fw pi-sort-amount-up-alt text-red-500"></i>
                <h4>Filter</h4>
            </div>
            <p-checkbox [binary]="true" [(ngModel)]="allThreadShow" label="All"></p-checkbox>
            <p-divider></p-divider>
            <p-checkbox label="Regular" [(ngModel)]="regularThreadShow" [binary]="true"></p-checkbox>
            <p-divider></p-divider>
            <p-checkbox label="Premium" [(ngModel)]="premiumThreadShow" [binary]="true"></p-checkbox>
            <p-divider></p-divider>
            <p-checkbox label="Polling" [(ngModel)]="pollingThreadShow" [binary]="true"></p-checkbox>
            <p-divider></p-divider>
        </div>

    </div>
    <div class="md:col-6"  *ngIf="isLoggedIn === true">
        <p-tabView>
            <p-tabPanel header="Thread" leftIcon="pi pi-book text-red-500">
                <form (ngSubmit)="onsubmit()">
                    <div>
                        <h3>Title</h3>
                        <div>
                            <textarea pInputTextarea rows="2" cols="10" class="w-full" name="title"
                                [(ngModel)]="data.title"></textarea>
                        </div>
                    </div>
                    <div>
                        <h3>Description</h3>
                        <div class="w-full">
                            <textarea pInputTextarea rows="10" cols="10" class="w-full" name="contentHeader"
                                [(ngModel)]="data.contentThread"></textarea>
                        </div>
                    </div>
                    <div *ngIf="threadTypeShow && showType === true">
                        <h3>Thread Type</h3>
                        <p-dropdown [options]="threadType.data!" [(ngModel)]="data.threadTypeId" class="w-30rem"
                            [style]="{'width':'100%'}" placeholder="threadType" optionLabel="threadType"
                            optionValue="id" name="threadTypeId" [showClear]="true">
                            <ng-template pTemplate="item" let-threadType>
                                <div>
                                    {{threadType.threadType}}
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="polling" class="glasses border-round mb-3 flex flex-column justify-content-center">
                        <div class="w-full flex justify-content-end">
                            <button icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"
                                pButton (click)="exitPolling()"></button>
                        </div>
                        <div class="w-full flex  justify-content-center">
                            <input type="text" name="pollingQuestion" [(ngModel)]="insertPolling.pollingQuestion"
                                pInputText class="inputstyle" placeholder="your question">
                        </div>
                        <div *ngFor="let polling of pollingArray.controls; last as isLast; index as idx;let i = index "
                            class="flex justify-content-center">

                            <div class="w-30rem p-3 flex flex-column">
                                <div>
                                    <label>Input {{i+1}}</label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="text" name="pollingChoice" pInputText [formControl]="polling"
                                        class="inputstyle">
                                    <button pButton pRipple type="button" icon="pi pi-times"
                                        class="p-button-rounded p-button-danger" (click)="removeInputControl(idx)"
                                        *ngIf="pollingArray.length > 1"></button>
                                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded"
                                        *ngIf="isLast && pollingArray.length < 4" (click)="addInputControl()"></button>
                                </div>

                            </div>
                        </div>
                        <div class="field col-12 md:col-4 flex flex-column align-items-center  w-full">
                            <label for="icon">Input Poll Length</label>
                            <p-calendar [showIcon]="true" inputId="icon" name="duration"
                                [(ngModel)]="insertPolling.duration"></p-calendar>
                        </div>
                    </div>

                    <div class="flex justify-content-between mt-2">
                        <div class="flex gap-2">
                            <p-fileUpload mode="basic" chooseIcon="pi pi-image" name="file" [customUpload]="true"
                                id="file" (uploadHandler)="onInsertFile($event)" [auto]="true"></p-fileUpload>
                            <button pButton pRipple type="button" icon="pi pi-chart-bar"
                                class="p-button-rounded bg-red-500" (click)="clickPolling()"></button>
                        </div>
                        <button pButton label="create thread" icon="pi pi-book" class="bg-red-500"></button>
                    </div>
                </form>

                <div class="border-round mb-8 mt-5" *ngFor="let thread of threadHeader.data; let i = index">
                    <div *ngIf="allThreadShow === true">
                        <div class="flex">
                            <div>
                                <p-avatar *ngIf="thread.userPhoto === null" icon="pi pi-user" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                                <p-avatar *ngIf="thread.userPhoto !== null"
                                    image="http://localhost:1234/files/{{thread.userPhoto}}" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h4>{{thread.fullName}}</h4>
                                <p>{{thread.createdAt | timeAgo}}</p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <p class="font-bold">
                                {{thread.title}}
                            </p>
                            <p>
                                {{thread.contentThread | slice:sliceOptions.start:sliceOptions.end}} ... <a
                                    *ngIf="thread.threadType === 'Regular'" (click)="onExpandText($event, thread.id)"
                                    class="cursor-pointer">See More </a>
                                <a *ngIf="thread.threadType === 'Premium' && showType === false"
                                    (click)="onExpandTextPremium($event)" class="cursor-pointer">See More <i
                                        class="pi pi-fw pi-lock text-red-500 cursor-pointer"></i> </a>
                                <a *ngIf="thread.threadType === 'Premium' && showType === true"
                                    (click)="onExpandText($event, thread.id)" class="cursor-pointer">See More </a>
                            </p>
                        </div>
                        <div *ngIf="thread.fileId != null">
                            <img src="http://localhost:1234/files/{{thread.fileId}}" alt="" width="400px"
                                height="200px">
                        </div>
                        <div>
                            <div>
                                <div class="flex justify-content-between mt-8 align-items-center">
                                    <div class="flex w-1 justify-content-around">
                                        <div class="flex justify-content-center align-items-center mx-2">
                                            <a (click)="like(thread.id)" class="cursor-pointer mr-1"
                                                *ngIf="thread.isLike === false"><i class="pi pi-heart"></i></a>
                                            <a (click)="unLike(thread.id)" *ngIf="thread.isLike === true"
                                                class="cursor-pointer mr-1"><i
                                                    class="pi pi-heart-fill text-red-500"></i></a>
                                            <p>{{thread.countLike}}</p>
                                        </div>
                                        <div class="flex justify-content-center align-items-center">
                                            <i class="pi pi-comment  mr-1"></i>
                                            <p>{{thread.countComment}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <a (click)="bookmark(thread.id)" *ngIf="thread.isBookmark === false"
                                            class="cursor-pointer"><i class="pi pi-bookmark"></i></a>
                                        <a (click)="unBookmark(thread.id)" *ngIf="thread.isBookmark === true"
                                            class="cursor-pointer"><i
                                                class="pi pi-bookmark-fill text-yellow-400"></i></a>
                                    </div>

                                </div>
                                <div>

                                </div>
                            </div>
                        </div>

                        <p-divider class="w-full"></p-divider>


                    </div>
                </div>


                <div class="border-round mb-8 mt-5" *ngFor="let thread of threadHeader.data; let i = index">
                    <div *ngIf="thread.threadType === 'Regular' && regularThreadShow === true">
                        <div class="flex">
                            <div>
                                <p-avatar *ngIf="thread.userPhoto === null" icon="pi pi-user" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                                <p-avatar *ngIf="thread.userPhoto !== null"
                                    image="http://localhost:1234/files/{{thread.userPhoto}}" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h4>{{thread.fullName}}</h4>
                                <p>{{thread.createdAt | timeAgo}}</p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <p class="font-bold">
                                {{thread.title}}
                            </p>
                            <p>
                                {{thread.contentThread | slice:sliceOptions.start:sliceOptions.end}} ... <a
                                    (click)="onExpandText($event, thread.id)" class="cursor-pointer">See More </a>
                            </p>
                        </div>
                        <div *ngIf="thread.fileId != null">
                            <img src="http://localhost:1234/files/{{thread.fileId}}" alt="" width="400px"
                                height="200px">
                        </div>
                        <div>
                            <div>
                                <div class="flex justify-content-between mt-8 align-items-center">
                                    <div class="flex w-1 justify-content-around">
                                        <div class="flex justify-content-center align-items-center mx-2">
                                            <a (click)="like(thread.id)" class="cursor-pointer mr-1"
                                                *ngIf="thread.isLike === false"><i class="pi pi-heart"></i></a>
                                            <a (click)="unLike(thread.id)" *ngIf="thread.isLike === true"
                                                class="cursor-pointer mr-1"><i
                                                    class="pi pi-heart-fill text-red-500"></i></a>
                                            <p>{{thread.countLike}}</p>
                                        </div>
                                        <div class="flex justify-content-center align-items-center">
                                            <i class="pi pi-comment  mr-1"></i>
                                            <p>{{thread.countComment}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <a (click)="bookmark(thread.id)" *ngIf="thread.isBookmark === false"
                                            class="cursor-pointer"><i class="pi pi-bookmark"></i></a>
                                        <a (click)="unBookmark(thread.id)" *ngIf="thread.isBookmark === true"
                                            class="cursor-pointer"><i
                                                class="pi pi-bookmark-fill text-yellow-400"></i></a>
                                    </div>

                                </div>
                                <div>

                                </div>
                            </div>
                        </div>

                        <p-divider class="w-full"></p-divider>


                    </div>


                </div>
                <div class="border-round mb-8 mt-5" *ngFor="let thread of threadHeader.data; let i = index">
                    <div *ngIf="thread.threadType === 'Premium' && premiumThreadShow === true">
                        <div class="flex">
                            <div>
                                <p-avatar *ngIf="thread.userPhoto === null" icon="pi pi-user" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                                <p-avatar *ngIf="thread.userPhoto !== null"
                                    image="http://localhost:1234/files/{{thread.userPhoto}}" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h4>{{thread.fullName}}</h4>
                                <p>{{thread.createdAt | timeAgo}}</p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <p class="font-bold">
                                {{thread.title}}
                            </p>
                            <p>
                                {{thread.contentThread | slice:sliceOptions.start:sliceOptions.end}} ..
                                <a *ngIf="thread.threadType === 'Premium' && showType === false"
                                    (click)="onExpandTextPremium($event)" class="cursor-pointer">See More <i
                                        class="pi pi-fw pi-lock text-red-500 cursor-pointer"></i> </a>
                                <a *ngIf="thread.threadType === 'Premium' && showType === true"
                                    (click)="onExpandText($event, thread.id)" class="cursor-pointer">See More </a>
                            </p>
                        </div>
                        <div *ngIf="thread.fileId != null">
                            <img src="http://localhost:1234/files/{{thread.fileId}}" alt="" width="400px"
                                height="200px">
                        </div>
                        <div>
                            <div>
                                <div class="flex justify-content-between mt-8 align-items-center">
                                    <div class="flex w-1 justify-content-around">
                                        <div class="flex justify-content-center align-items-center mx-2">
                                            <a (click)="like(thread.id)" class="cursor-pointer mr-1"
                                                *ngIf="thread.isLike === false"><i class="pi pi-heart"></i></a>
                                            <a (click)="unLike(thread.id)" *ngIf="thread.isLike === true"
                                                class="cursor-pointer mr-1"><i
                                                    class="pi pi-heart-fill text-red-500"></i></a>
                                            <p>{{thread.countLike}}</p>
                                        </div>
                                        <div class="flex justify-content-center align-items-center">
                                            <i class="pi pi-comment  mr-1"></i>
                                            <p>{{thread.countComment}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <a (click)="bookmark(thread.id)" *ngIf="thread.isBookmark === false"
                                            class="cursor-pointer"><i class="pi pi-bookmark"></i></a>
                                        <a (click)="unBookmark(thread.id)" *ngIf="thread.isBookmark === true"
                                            class="cursor-pointer"><i
                                                class="pi pi-bookmark-fill text-yellow-400"></i></a>
                                    </div>

                                </div>
                                <div>

                                </div>
                            </div>
                        </div>

                        <p-divider class="w-full"></p-divider>


                    </div>


                </div>

                <div *ngIf="allThreadShow === true">
                    <div class="glasses p-3 border-round mb-8 cursor-pointer"
                        *ngFor="let polling of threadPollingHeader.data">
                        <div class="flex">
                            <div>
                                <p-avatar icon="pi pi-user" styleClass="mr-2" size="large"
                                    [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle">
                                </p-avatar>
                            </div>
                            <div>
                                <h4>{{polling.fullName}}</h4>
                                <p>{{polling.createdAt | timeAgo}}</p>
                            </div>
                        </div>
                        <div class="mt-3 mb-3">
                            <p class="font-bold">
                                {{polling.titlePolling}}
                            </p>
                            <p class="font-normal">
                                {{polling.contentPolling}}
                            </p>
                        </div>
                        <div class="border-1 border-solid p-3 border-round">
                            <p class="font-bold">
                                {{polling.pollingQuestion}}
                            </p>
                            <div class="mt-5" *ngFor="let answer of polling.threadDtlPolling">
                                <div>
                                    <button pButton *ngIf="polling.isChoice === false" [label]="answer.pollingChoice"
                                        (click)="chooseAnswer(answer.id)" class="w-full"></button>

                                    <button *ngIf="polling.isChoice === true" pButton
                                        class="w-full bg-blue-900 buttonAnswer">
                                        <p>{{(answer.countAnswer / polling.countAllAnswer) * 100}}%
                                            {{answer.pollingChoice}}</p>
                                    </button>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div *ngIf="pollingThreadShow === true">
                    <div class="glasses p-3 border-round mb-8 cursor-pointer"
                        *ngFor="let polling of threadPollingHeader.data">
                        <div class="flex">
                            <div>
                                <p-avatar icon="pi pi-user" styleClass="mr-2" size="large"
                                    [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle">
                                </p-avatar>
                            </div>
                            <div>
                                <h4>{{polling.fullName}}</h4>
                                <p>{{polling.createdAt | timeAgo}}</p>
                            </div>
                        </div>
                        <div class="mt-3 mb-3">
                            <p class="font-bold">
                                {{polling.titlePolling}}
                            </p>
                            <p class="font-normal">
                                {{polling.contentPolling}}
                            </p>
                        </div>
                        <div class="border-1 border-solid p-3 border-round">
                            <p class="font-bold">
                                {{polling.pollingQuestion}}
                            </p>
                            <div class="mt-5" *ngFor="let answer of polling.threadDtlPolling">
                                <div>
                                    <button pButton *ngIf="polling.isChoice === false" [label]="answer.pollingChoice"
                                        (click)="chooseAnswer(answer.id)" class="w-full"></button>

                                    <button *ngIf="polling.isChoice === true" pButton
                                        class="w-full bg-blue-900 buttonAnswer">
                                        <p>{{(answer.countAnswer / polling.countAllAnswer) * 100}}%
                                            {{answer.pollingChoice}}</p>
                                    </button>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </p-tabPanel>
            <p-tabPanel header="Like" leftIcon="pi pi-heart-fill">
                <div class="glasses p-3 border-round mb-8"
                    *ngFor="let threadLike of threadHeaderLike.data; let i = index">
                    <div class="flex">
                        <div>
                            <p-avatar *ngIf="threadLike.userPhoto === null" icon="pi pi-user" styleClass="mr-2"
                                size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                shape="circle"></p-avatar>
                            <p-avatar *ngIf="threadLike.userPhoto !== null"
                                image="http://localhost:1234/files/{{threadLike.userPhoto}}" styleClass="mr-2"
                                size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                shape="circle"></p-avatar>
                        </div>
                        <div>
                            <h4>{{threadLike.fullName}}</h4>
                            <p>{{threadLike.createdAt | timeAgo}}</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="font-bold">
                            {{threadLike.title}}
                        </p>
                        <p>
                            {{threadLike.contentThread | slice:sliceOptions.start:sliceOptions.end}} ... <a
                                *ngIf="threadLike.threadType === 'Regular'"
                                (click)="onExpandText($event, threadLike.id)" class="cursor-pointer">See More </a> <a
                                *ngIf="threadLike.threadType === 'Premium' && showType === false"
                                (click)="onExpandTextPremium($event)">See More <i
                                    class="pi pi-fw pi-lock text-red-500cursor-pointer"></i> </a>
                        </p>
                    </div>
                    <div *ngIf="threadLike.fileId != null">
                        <img src="http://localhost:1234/files/{{threadLike.fileId}}" alt="" width="400px"
                            height="200px">
                    </div>
                    <div>
                        <div>
                            <div class="flex justify-content-between mt-8 align-items-center">
                                <div class="flex w-1 justify-content-around">
                                    <div class="flex justify-content-center align-items-center mx-2">
                                        <a (click)="like(threadLike.id)" class="cursor-pointer mr-1"
                                            *ngIf="threadLike.isLike === false"><i class="pi pi-heart"></i></a>
                                        <a (click)="unLike(threadLike.id)" *ngIf="threadLike.isLike === true"
                                            class="cursor-pointer mr-1"><i
                                                class="pi pi-heart-fill text-red-500"></i></a>
                                        <p>{{threadLike.countLike}}</p>
                                    </div>
                                    <div class="flex justify-content-center align-items-center">
                                        <i class="pi pi-comment  mr-1"></i>
                                        <p>{{threadLike.countComment}}</p>
                                    </div>
                                </div>
                                <div>
                                    <a (click)="bookmark(threadLike.id)" *ngIf="threadLike.isBookmark === false"
                                        class="cursor-pointer"><i class="pi pi-bookmark"></i></a>
                                    <a (click)="unBookmark(threadLike.id)" *ngIf="threadLike.isBookmark === true"
                                        class="cursor-pointer"><i class="pi pi-bookmark-fill text-yellow-400"></i></a>
                                </div>

                            </div>
                            <div>

                            </div>
                        </div>
                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="Bookmark" leftIcon="pi pi-bookmark-fill">
                <div class="glasses p-3 border-round mb-8 "
                    *ngFor="let threadBookmark of threadHeaderBookmark.data; let i = index">
                    <div class="flex">
                        <div>
                            <p-avatar *ngIf="threadBookmark.userPhoto === null" icon="pi pi-user" styleClass="mr-2"
                                size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                shape="circle"></p-avatar>
                            <p-avatar *ngIf="threadBookmark.userPhoto !== null"
                                image="http://localhost:1234/files/{{threadBookmark.userPhoto}}" styleClass="mr-2"
                                size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                shape="circle"></p-avatar>
                        </div>
                        <div>
                            <h4>{{threadBookmark.fullName}}</h4>
                            <p>{{threadBookmark.createdAt | timeAgo}}</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="font-bold">
                            {{threadBookmark.title}}
                        </p>
                        <p>
                            {{threadBookmark.contentThread | slice:sliceOptions.start:sliceOptions.end}} ... <a
                                *ngIf="threadBookmark.threadType === 'Regular'"
                                (click)="onExpandText($event, threadBookmark.id)" class="cursor-pointer">See More </a>
                            <a *ngIf="threadBookmark.threadType === 'Premium' && showType === false"
                                (click)="onExpandTextPremium($event)">See More <i
                                    class="pi pi-fw pi-lock text-red-500cursor-pointer"></i> </a>
                        </p>
                    </div>
                    <div *ngIf="threadBookmark.fileId != null">
                        <img src="http://localhost:1234/files/{{threadBookmark.fileId}}" alt="" width="400px"
                            height="200px">
                    </div>
                    <div>
                        <div>
                            <div class="flex justify-content-between mt-8 align-items-center">
                                <div class="flex w-1 justify-content-around">
                                    <div class="flex justify-content-center align-items-center mx-2">
                                        <a (click)="like(threadBookmark.id)" class="cursor-pointer mr-1"
                                            *ngIf="threadBookmark.isLike === false"><i class="pi pi-heart"></i></a>
                                        <a (click)="unLike(threadBookmark.id)" *ngIf="threadBookmark.isLike === true"
                                            class="cursor-pointer mr-1"><i
                                                class="pi pi-heart-fill text-red-500"></i></a>
                                        <p>{{threadBookmark.countLike}}</p>
                                    </div>
                                    <div class="flex justify-content-center align-items-center">
                                        <i class="pi pi-comment  mr-1"></i>
                                        <p>{{threadBookmark.countComment}}</p>
                                    </div>
                                </div>
                                <div>
                                    <a (click)="bookmark(threadBookmark.id)" *ngIf="threadBookmark.isBookmark === false"
                                        class="cursor-pointer"><i class="pi pi-bookmark"></i></a>
                                    <a (click)="unBookmark(threadBookmark.id)"
                                        *ngIf="threadBookmark.isBookmark === true" class="cursor-pointer"><i
                                            class="pi pi-bookmark-fill text-yellow-400"></i></a>
                                </div>

                            </div>
                            <div>

                            </div>
                        </div>
                    </div>

                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="lg:col-8 md:col-6" *ngIf="isLoggedIn === false">
        <p-tabView>
            <p-tabPanel header="Thread" leftIcon="pi pi-book text-red-500">

                <div class="flex align-items-center justify-content-center" *ngIf="isLoading === true">
                    <p-progressSpinner ></p-progressSpinner>
                </div>
                
                <div class="border-round mb-8 mt-5" *ngFor="let thread of threadNonLogin.data; let i = index">
                    <div *ngIf="allThreadShow === true">
                        <div class="flex">
                            <div>
                                <p-avatar *ngIf="thread.userPhoto === null" icon="pi pi-user" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                                <p-avatar *ngIf="thread.userPhoto !== null"
                                    image="http://localhost:1234/files/{{thread.userPhoto}}" styleClass="mr-2"
                                    size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h4>{{thread.fullName}}</h4>
                                <p>{{thread.createdAt | timeAgo}}</p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <p class="font-bold">
                                {{thread.title}}
                            </p>
                            <p>
                                {{thread.contentThread | slice:sliceOptions.start:sliceOptions.end}} ... <a
                                    *ngIf="thread.threadType === 'Regular'" (click)="directToLogin()"
                                    class="cursor-pointer">See More </a>
                                <a *ngIf="thread.threadType === 'Premium' && showType === false"
                                    (click)="onExpandTextPremium($event)" class="cursor-pointer">See More <i
                                        class="pi pi-fw pi-lock text-red-500 cursor-pointer"></i> </a>
                                <a *ngIf="thread.threadType === 'Premium' && showType === true"
                                    (click)="onExpandText($event, thread.id)" class="cursor-pointer">See More </a>
                            </p>
                        </div>
                        <div *ngIf="thread.fileId != null">
                            <img src="http://localhost:1234/files/{{thread.fileId}}" alt="" width="400px"
                                height="200px">
                        </div>
                        <div>
                            <div>
                                <div class="flex justify-content-between mt-8 align-items-center">
                                    <div class="flex w-1 justify-content-around">
                                        <div class="flex justify-content-center align-items-center mx-2">
                                            <a (click)="directToLogin()" class="cursor-pointer mr-1"><i class="pi pi-heart"></i></a>
                                            <p>{{thread.countLike}}</p>
                                        </div>
                                        <div class="flex justify-content-center align-items-center">
                                            <a (click)="directToLogin()" class="cursor-pointer"><i class="pi pi-comment  mr-1"></i></a>
                                            <p>{{thread.countComment}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <a (click)="bookmark(thread.id)" *ngIf="thread.isBookmark === false"
                                            class="cursor-pointer"><i class="pi pi-bookmark"></i></a>
                                        <a (click)="unBookmark(thread.id)" *ngIf="thread.isBookmark === true"
                                            class="cursor-pointer"><i
                                                class="pi pi-bookmark-fill text-yellow-400"></i></a>
                                    </div>

                                </div>
                                <div>

                                </div>
                            </div>
                        </div>

                        <p-divider class="w-full"></p-divider>


                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="md:col-3">
        <div class="bg-white border-round">
            <div class="flex gap-1 align-items-center p-3" *ngIf="isLoading === true">
                <p-skeleton width="13rem" height="4rem"></p-skeleton>
            </div>
            <div class="flex gap-1 align-items-center p-3" *ngIf="isLoading === false">
                <i class="pi pi-fw pi-book text-red-500"></i>
                <h3 class="font-medium">Upcoming Event / Course </h3>
            </div>
            <div class="p-3">
                <p-skeleton width="100%" height="200px" *ngIf="isLoading === true"></p-skeleton>
                <img src="http://localhost:1234/files/{{fileEvent}}" alt="" width="100%" height="200px" *ngIf="isLoading === false">

                <p-skeleton styleClass="mt-3" width="7rem" *ngIf="isLoading === true"></p-skeleton>
                <h3 *ngIf="isLoading === false">{{titleEvent}}</h3>


                <div class="flex flex-row justify-content-between mt-5" *ngIf="isLoading === true">
                    <p-skeleton width="12rem"></p-skeleton>
                </div>
                <div class="flex flex-row justify-content-between mt-5" *ngIf="isLoading === false">
                    <span class="flex gap-1"><i class="pi pi-github text-red-500"></i>
                        <h5 class="font-normal">{{provider}}</h5>
                    </span>
                    <span class="flex gap-1"><i class="pi pi-map-marker text-red-500"></i>
                        <h5 class="font-normal">{{location}}</h5>
                    </span>
                </div>

                <div class="flex flex-row justify-content-between mt-2" *ngIf="isLoading === true">
                    <p-skeleton width="12rem"></p-skeleton>
                </div>
                <div class="flex flex-row justify-content-between mt-2" *ngIf="isLoading === false">
                    <span class="card-content flex justify-content-center gap-1"><i
                            class="pi pi-clock text-red-400"></i>
                        <h5 class="font-normal">start: {{startEvent | date: "medium"}}</h5>
                    </span>
                    <span class="card-content flex justify-content-center gap-1"><i class="pi pi-tag text-red-400"></i>
                        <h5 class="font-normal">{{price | customCurrency}}</h5>
                    </span>
                </div>

                <div class="flex flex-row justify-content-between mt-2" *ngIf="isLoading === true">
                    <p-skeleton width="12rem"></p-skeleton>
                </div>
                <div class="flex flex-row justify-content-between mt-3" *ngIf="isLoading === false">
                    <span class="card-content flex justify-content-center gap-1"><i
                            class="pi pi-clock text-red-400"></i>
                        <h5 class="font-normal">end: {{endEvent| date: "medium"}} </h5>
                    </span>
                    <button pButton type="button" (click)="clickToDetail(idEvent)" class="bg-red-500 px-3 py-1 border-round text-white cursor-pointer" label="Buy" icon="pi pi-fw pi-shopping-cart">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>