<div class="p-8">
    <p-tabView>
        <p-tabPanel header="Thread" leftIcon="pi pi-book" >
            <div class="glasses p-3 border-round mb-8 cursor-pointer" routerLink="/threads-main/detail">
                <div class="flex">
                    <div>
                        <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </div>
                    <div>
                        <h4>Salman Faris Siddiq</h4>
                        <p>Upload 1 hour ago</p>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="font-bold">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rerum nihil, non eveniet facere aliquid obcaecati.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nulla laboriosam libero voluptatum quo consequuntur facere perspiciatis ipsum sit pariatur minus perferendis quaerat impedit officiis distinctio error explicabo cupiditate possimus, saepe sint recusandae itaque delectus. Sint aliquid magnam id error voluptatem? Veritatis, deleniti recusandae voluptatum laboriosam eveniet ex asperiores inventore!
                    </p>
                </div>
                <div>
                    <div>
                        <div class="flex justify-content-between mt-8 align-items-center">
                            <div class="flex w-1 justify-content-around">
                                <div class="flex">
                                    <i class="pi pi-heart-fill"></i>
                                    <p>5</p>
                                </div>
                                <div class="flex">
                                    <i class="pi pi-comment"></i>
                                    <p>2</p>
                                </div>
                            </div>
                            <div>
                                <i class="pi pi-bookmark-fill"></i>
                            </div>
                          
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="glasses p-3 border-round mb-8 cursor-pointer" routerLink="/threads-main/detail">
                <div class="flex">
                    <div>
                        <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </div>
                    <div>
                        <h4>Salman Faris Siddiq</h4>
                        <p>Upload 1 hour ago</p>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="font-bold">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rerum nihil, non eveniet facere aliquid obcaecati.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nulla laboriosam libero voluptatum quo consequuntur facere perspiciatis ipsum sit pariatur minus perferendis quaerat impedit officiis distinctio error explicabo cupiditate possimus, saepe sint recusandae itaque delectus. Sint aliquid magnam id error voluptatem? Veritatis, deleniti recusandae voluptatum laboriosam eveniet ex asperiores inventore!
                    </p>
                </div>
                <div class="thread-img mt-3">
                    <img src="./../../../../assets/thread.png" width="400px" height="200px" alt="">
                </div>
                <div>
                    <div>
                        <div class="flex justify-content-between mt-8 align-items-center">
                            <div class="flex w-1 justify-content-around">
                                <div class="flex">
                                    <i class="pi pi-heart-fill"></i>
                                    <p>5</p>
                                </div>
                                <div class="flex">
                                    <i class="pi pi-comment"></i>
                                    <p>2</p>
                                </div>
                            </div>
                            <div>
                                <i class="pi pi-bookmark-fill"></i>
                            </div>
                          
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="glasses p-3 border-round mb-8 cursor-pointer" routerLink="/threads-main/detail">
                <div class="flex">
                    <div>
                        <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </div>
                    <div>
                        <h4>Salman Faris Siddiq</h4>
                        <p>Upload 1 hour ago</p>
                    </div>
                </div>
                <div class="mt-3 mb-3">
                    <p class="font-bold">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rerum nihil, non eveniet facere aliquid obcaecati.
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nulla laboriosam libero voluptatum quo consequuntur facere perspiciatis ipsum sit pariatur minus perferendis quaerat impedit officiis distinctio error explicabo cupiditate possimus, saepe sint recusandae itaque delectus. Sint aliquid magnam id error voluptatem? Veritatis, deleniti recusandae voluptatum laboriosam eveniet ex asperiores inventore!
                    </p>
                </div>
                <div class="border-1 border-solid p-3 border-round">
                    <p class="font-bold">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In recusandae repellat modi cum rerum quos consequuntur culpa dolorum inventore eligendi repellendus sunt necessitatibus vitae fugiat, tempore, rem quo voluptates ducimus?
                    </p> 
                    <div class="h-12rem flex flex-column justify-content-between mt-5">
                        <div>
                            <button pButton label="Salman" class="w-full"></button>
                        </div>
                       <div>
                        <button pButton label="Faris" class="w-full"></button>
                       </div>
                      <div>
                        <button pButton label="Siddiq" class="w-full"></button>
                      </div>
                     
                    </div>
                   
                </div>
                <div>
                    <div>
                        <div class="flex justify-content-between mt-8 align-items-center">
                            <div class="flex w-1 justify-content-around">
                                <div class="flex">
                                    <i class="pi pi-heart-fill"></i>
                                    <p>5</p>
                                </div>
                                <div class="flex">
                                    <i class="pi pi-comment"></i>
                                    <p>2</p>
                                </div>
                            </div>
                            <div>
                                <i class="pi pi-bookmark-fill"></i>
                            </div>
                          
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="glasses p-3 mt-3 border-round cursor-pointer" routerLink="/threads-main/detail">
                <div class="flex">
                    <div>
                        <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    </div>
                    <div>
                        <h4>Salman Faris Siddiq</h4>
                        <p>Upload 1 hour ago</p>
                    </div>
                </div>
                <div class="mt-3 mb-3">
                    <p-blockUI [target]="pnl" [blocked]="blocked">
                        <div class="flex">
                            <button pButton label="Premium Only" icon="pi pi-lock"></button>
                        </div>
                    
                    </p-blockUI>
                    <p class="font-bold">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate rerum nihil, non eveniet facere aliquid obcaecati.
                    </p>
                    <p #pnl>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nulla laboriosam libero voluptatum quo consequuntur facere perspiciatis ipsum sit pariatur minus perferendis quaerat impedit officiis distinctio error explicabo cupiditate possimus, saepe sint recusandae itaque delectus. Sint aliquid magnam id error voluptatem? Veritatis, deleniti recusandae voluptatum laboriosam eveniet ex asperiores inventore!
                    </p>
                </div>
                <div>
                    <div>
                        <div>
                         
                        </div>
                        <div class="flex justify-content-between mt-8 align-items-center">
                            <div class="flex w-1 justify-content-around">
                                <div class="flex">
                                    <i class="pi pi-heart-fill"></i>
                                    <p>5</p>
                                </div>
                                <div class="flex">
                                    <i class="pi pi-comment"></i>
                                    <p>2</p>
                                </div>
                            </div>
                            <div>
                                <i class="pi pi-bookmark-fill"></i>
                            </div>
                          
                        </div>
                      
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Like" leftIcon="pi pi-heart-fill">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-tabPanel>
        <p-tabPanel header="Bookmark" leftIcon="pi pi-bookmark-fill">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
        </p-tabPanel>
        <p-tabPanel header="Create Thread" leftIcon="pi pi-file">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
        </p-tabPanel>
    </p-tabView>
</div>
