<div class="flex" *ngIf="mainRegister === true">
    <div class="authpicture">
       
    </div> 
    <div class="flex flex-column justify-content-center align-items-center" style="width: 100vh;">
        <div style="width: 500px; height: 500px;" class="flex flex-column justify-content-around align-items-center">
            <div class="titlelogin">CREATE ACCOUNT</div>
           
            <div class="flex flex-column">
                <label for="email">Email</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-envelope"></i>
                    <input type="email" pInputText placeholder="Email" class="inputstyle" />
                </span>
            </div>
            
            <div class="flex flex-column">
                <label for="password">Password</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-lock"></i>
                    <input type="password" pInputText placeholder="Password" class="inputstyle" />
                </span>
            </div>

            <div class="flex justify-content-between w-full">
                <p>already have an account? <span class="font-bold cursor-pointer" routerLink="/login">Sign In</span></p>
            </div>

            <div class="w-full">
                <button pButton pRipple label="Sign Up" class="p-button-rounded button-signin" (click)="nextRegister()"></button>
            </div>
                <p-timeline [value]="event" layout="horizontal" align="top" class="w-full">
                    <ng-template pTemplate="marker" let-event>
                        <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                            <i [ngClass]="event.icon"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        {{event.status}}
                    </ng-template>
                </p-timeline>
        </div>
       
       
    </div>
</div>

<div class="flex" *ngIf="createAccount === true">
    <div class="authpicture">
       
    </div> 
    <div class="flex flex-column justify-content-center align-items-center" style="width: 100vh;">
        <div style="width: 500px; height: 600px;" class="flex flex-column justify-content-around align-items-center">
            <div class="titlelogin">ACCOUNT DETAIL</div>
            <div class="flex flex-column">
                <label for="email">Fullname</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText placeholder="Fullname" class="inputstyle" />
                </span>
            </div>
            <div class="flex flex-column">
                <label for="email">Company</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-globe"></i>
                    <input type="text" pInputText placeholder="Fullname" class="inputstyle" />
                </span>
            </div>
            <div class="flex flex-column">
                <label for="email">Industry</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-id-card"></i>
                    <input type="text" pInputText placeholder="Industry" class="inputstyle" />
                </span>
            </div>
            
            <div class="flex flex-column">
                <label for="password">Position</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-users"></i>
                    <input type="text" pInputText placeholder="Position" class="inputstyle" />
                </span>
            </div>


            <div class="w-full">
                <button pButton pRipple label="Next" class="p-button-rounded button-signin" (click)="nextCreateAccount()"></button>
            </div>
                <p-timeline [value]="event" layout="horizontal" align="top" class="w-full">
                    <ng-template pTemplate="marker" let-event>
                        <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                            <i [ngClass]="event.icon"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        {{event.status}}
                    </ng-template>
                </p-timeline>
        </div>
       
       
    </div>
</div>

<div class="flex">
    <div class="authpicture">
       
    </div> 
    <div class="flex flex-column justify-content-center align-items-center" style="width: 100vh;">
        <div style="width: 500px; height: 500px;" class="flex flex-column justify-content-around align-items-center">
            <div class="titlelogin">VERIFICATION CODE</div>
            <div class="flex flex-column">
                <label for="email">Enter your verification code</label>
                <span class="p-input-icon-right">
                    <i class="pi pi-lock"></i>
                    <input type="text" pInputText placeholder="verification code" class="inputstyle" />
                </span>
            </div>

            <div class="w-full">
                <button pButton pRipple label="Send" class="p-button-rounded button-signin" routerLink="/detail"></button>
            </div>
                <p-timeline [value]="event" layout="horizontal" align="top" class="w-full">
                    <ng-template pTemplate="marker" let-event>
                        <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                            <i [ngClass]="event.icon"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                        {{event.status}}
                    </ng-template>
                </p-timeline>
        </div>
       
       
    </div>
</div>