<div class="p-8">
    <div class="glasses py-5 px-5">
        <div class="flex gap-3">
            <h3><i class="pi pi-pw pi-eject text-red-500 mr-2"></i>Create Event</h3>
        </div>
        <form (ngSubmit)="onsubmit()">
        <div class="grid">
           
                <div class="col-6 flex mt-5 flex-column gap-5">
                    <div>
                        <h5>Title Event</h5>
                        <input type="text" [(ngModel)]="data.title" pInputText class="inputstyle" name="title" >
                    </div>
                   <div>
                        <h5>Photo Upload</h5>
                        <p-fileUpload mode="basic" chooseIcon="pi pi-image" name="file" [customUpload]="true" id="file"  [auto]="true" (uploadHandler)="onInsertFile($event)"></p-fileUpload>
                   </div>
                   <div>
                    <h5>Price</h5>
                    <input type="number" name="price" [(ngModel)]="data.price"  pInputText class="inputstyle">
                   </div>

                </div>
                <div class="col-6 flex mt-5 flex-column gap-5">

                    <div>
                        <h5>Start Date</h5>
                        <p-calendar [showIcon]="true" [showTime]="true" [showSeconds]="true" inputId="time" name="startDate" inputId="icon" [(ngModel)]="data.starts"></p-calendar>
                      </div>
                      <div>
                        <h5>End Date</h5>
                        <p-calendar [showIcon]="true" [showTime]="true" [showSeconds]="true" inputId="time" name="endDate" inputId="icon" [(ngModel)]="data.ends"></p-calendar>
                      </div>
                      <div>
                        <h5>Provider</h5>
                        <input type="text" name="provider" [(ngModel)]="data.provider" pInputText class="inputstyle">
                      </div>
                      <div>
                        <h5>Location</h5>
                        <input type="text" name="location" [(ngModel)]="data.location" pInputText class="inputstyle">
                      </div>
    
                </div>
        </div>

        <div class="flex justify-content-end">
            <button pButton label="Submit" type="submit" class="bg-red-500 border-round"></button>
        </div>
    </form>
    
    </div>
</div>