<div class="p-8 flex grid gap-5 h-full justify-content-center">
    <div class="glasses w-25rem h-12rem flex flex-column  justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-user"></i>
            <p>Total User</p>
        </div>
        <div>
            <h1>100</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/users"></i>
        </div>
    </div>
    <div class="glasses w-25rem h-12rem flex flex-column bg-blue-200 justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-user"></i>
            <p>Total User Premium</p>
        </div>
        <div>
            <h1>20</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/users/premium"></i>
        </div>
    </div>
    <div class="glasses w-25rem h-12rem flex flex-column bg-blue-200 justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-book"></i>
            <p>Total Article</p>
        </div>
        <div>
            <h1>10</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/article/list"></i>
        </div>
    </div>
    <div class="glasses w-25rem h-12rem flex flex-column bg-blue-200 justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-book"></i>
            <p>Total Thread</p>
        </div>
        <div>
            <h1>30</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/threads"></i>
        </div>
    </div>
    <div class="glasses w-25rem h-12rem flex flex-column bg-blue-200 justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-calendar"></i>
            <p>Total Event</p>
        </div>
        <div>
            <h1>30</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/events"></i>
        </div>
    </div>
    <div class="glasses w-25rem h-12rem flex flex-column bg-blue-200 justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-calendar"></i>
            <p>Total Course</p>
        </div>
        <div>
            <h1>15</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/events/course"></i>
        </div>
    </div>
    <div class="glasses w-25rem h-12rem flex flex-column bg-blue-200 justify-content-center align-items-center pt-3 border-round">
        <div class="flex gap-1">
            <i class="pi pi-dollar"></i>
            <p>Total Revenue</p>
        </div>
        <div>
            <h1>Rp 1.000.000,00</h1>
        </div>
        <div class="absolute top-0 right-0">
            <i class="pi pi-external-link" routerLink="/payment/history"></i>
        </div>
    </div>
</div>