<div class="p-5">
    <div>
        <h2 class="font-medium">Create Article</h2>
    </div>

    <div class="glasses p-5 border-round h-30rem">
        <button pButton label="back" icon="pi pi-arrow-left" class="bg-red-500" styleClass="p-button-sm"
            routerLink="/article"></button>
        <div>
            <form class=" pt-5 h-20rem" (ngSubmit)="onsubmitarticle()">
                <div class="grid">
                    <div class="col-6">
                        <div class="flex flex-column mb-4">
                            <label for="">Title <span class="text-red-500">*</span></label>
                            <input pInputText class="inputstyle" id="title" name="title"
                                [(ngModel)]="insertArticleHeaderReq.title">
                        </div>
                        <div class="flex flex-column">
                            <label for="">Content <span class="text-red-500">*</span></label>

                            <!-- <ckeditor [editor]="editor" [data]="data" [(ngModel)]="data" (change)="onChange($event)" name="data"></ckeditor> -->

                            <textarea rows="6" pInputTextarea class="inputstyle" name="content"
                                [(ngModel)]="insertArticleHeaderReq.contents"></textarea>
                        </div>
                    </div>

                    <div class="col-6 flex flex-column">
                        <div class="flex flex-column mb-4">
                            <label for="">File <span class="text-red-500">*</span></label>
                            <p-fileUpload #fubauto mode="basic" type="file" name="file" [customUpload]="true" id="file"
                                (uploadHandler)="onInsertFile($event)
                            " accept="image/*" [auto]="true" chooseLabel="Browse" class="bg-#6366F1"></p-fileUpload>
                        </div>

                        <!-- <h5>Advanced</h5>
                        <p-fileUpload name="demo[]" url="./upload.php" (uploadHandler)="onUpload($event)" multiple="multiple"
                            accept="image/*" maxFileSize="1000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload> -->

                    </div>
                </div>
                <div class="flex justify-content-end">
                    <p-button label="Submit" styleClass="p-button-sm" type="submit"></p-button>
                </div>
            </form>
        </div>

    </div>
</div>