<div class="grid px-8" infinite-scroll (scrolled)="onScroll()">
    <div class="col-3">
        <div class="bg-white border-round h-20rem">
            <div class="flex flex-column align-items-center">
                <div *ngIf="file === null" >
                    <img src="../../../../assets/unnamed.png" alt="" width="100px" height="100px" class="profile mt-5">
                    
                </div>
                <div *ngIf="file !== null">
                    <img src="http://localhost:1234/files/{{file}}" alt="" width="100px" height="100px" class="profile mt-5">
                </div>
              
                    <h3>{{username}}</h3>
                    <h5 class="font-italic font-normal">{{position}}</h5>
            </div>
            <p-divider></p-divider>
            <div class="px-2">
                <div class="flex gap-1">
                    <i class="pi pi-fw pi-money-bill text-red-500"></i>
                    <h5 class="font-normal">Balance :</h5>
                </div>
         
            </div>
            <p-divider></p-divider>
            <div class="px-2 ">
                <div class="flex gap-1 ">
                    <i class="pi pi-fw pi-user text-red-500"></i>
                    <h5 class="font-normal">Status Member :</h5>
                    <div *ngIf="showType === true">
                        <h5 class="font-normal font-italic">Premium</h5>
                    </div>
                    <div *ngIf="showType === false">
                        <h5>Regular</h5>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="col-9">
        <div class="p-card col-12 mb-3" id="card-article" *ngFor="let data of articleHeaderData;">
            <div class="grid">
                <div class="col-3 ">
                    <div class="profile m-3">
                        <p-image src="http://localhost:1234/files/{{data.fileId}}" alt="Image"  width="100" height="100">
                        </p-image>
                    </div>
                </div>
                <div class="col-9">
                    <div class="flex flex-column card-container">
                        <div class="flex font-bold text-black border-round">
                            <p class="text-2xl ">{{data.title}}</p>
                        </div>
                        <div class="flex  text-black border-round">

                            <p class="text-sm ">{{data.contents | slice:sliceOptions.start:sliceOptions.end}} ... <a routerLink="/article-members/details/{{data.id}}">See More</a></p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-3">

    </div>


 
   
</div>
<p-scrollTop></p-scrollTop>