<div class="pt-8 pr-8 pl-8">
    <div class="grid">
    <div class="p-card col-12" id="card-article">
            <div class="grid">
                <div class="col-3 ">
                    <div class="profile m-3">
                        <p-image src="../../../../assets/article.jpg" alt="Image" width="220" height="220" ></p-image>
                    </div>
                </div>
                <div class="col-9">
                    <div class="flex flex-column card-container">
                        <div class="flex h-4rem font-bold text-black border-round m-2">
                            <p class="text-2xl ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quod obcaecati, ipsam quo delectus at aspernatur</p>
                        </div>
                        <div class="flex h-6rem  text-black border-round m-2">
                            <p class="text-sm ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet laborum, perspiciatis vitae impedit expedita cumque delectus, culpa pariatur qui ullam, maiores assumenda? Doloribus asperiores aliquam illum sint totam molestias? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam cumque modi voluptate labore repudiandae, nisi similique totam. Qui, omnis nulla labore unde rem, quisquam molestiae aspernatur officiis, facere iure ea.</p>
                        </div>
                        <div class="flex h-2rem text-black border-round mt-2">
                            <p class="text-1xl ">Posted by AdminHr</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>


<div class="pt-4 pl-8 pr-8">
    <div class="grid">
    <div class="p-card col-12" id="card-article">
            <div class="grid">
                <div class="col-3 ">
                    <div class="profile m-3">
                        <p-image src="../../../../assets/article.jpg" alt="Image" width="220" height="220" ></p-image>
                    </div>
                </div>
                <div class="col-9">
                    <div class="flex flex-column card-container">
                        <div class="flex h-4rem font-bold text-black border-round m-2">
                            <p class="text-2xl ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quod obcaecati, ipsam quo delectus at aspernatur</p>
                        </div>
                        <div class="flex h-6rem  text-black border-round m-2">
                            <p class="text-sm ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet laborum, perspiciatis vitae impedit expedita cumque delectus, culpa pariatur qui ullam, maiores assumenda? Doloribus asperiores aliquam illum sint totam molestias? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam cumque modi voluptate labore repudiandae, nisi similique totam. Qui, omnis nulla labore unde rem, quisquam molestiae aspernatur officiis, facere iure ea.</p>
                        </div>
                        <div class="flex h-2rem text-black border-round mt-2">
                            <p class="text-1xl ">Posted by AdminHr</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>



<div class="pt-4 pl-8 pr-8">
    <div class="grid">
    <div class="p-card col-12" id="card-article">
            <div class="grid">
                <div class="col-3 ">
                    <div class="profile m-3">
                        <p-image src="../../../../assets/article.jpg" alt="Image" width="220" height="220" ></p-image>
                    </div>
                </div>
                <div class="col-9">
                    <div class="flex flex-column card-container">
                        <div class="flex h-4rem font-bold text-black border-round m-2">
                            <p class="text-2xl ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque quod obcaecati, ipsam quo delectus at aspernatur</p>
                        </div>
                        <div class="flex h-6rem  text-black border-round m-2">
                            <p class="text-sm ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis amet laborum, perspiciatis vitae impedit expedita cumque delectus, culpa pariatur qui ullam, maiores assumenda? Doloribus asperiores aliquam illum sint totam molestias? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam cumque modi voluptate labore repudiandae, nisi similique totam. Qui, omnis nulla labore unde rem, quisquam molestiae aspernatur officiis, facere iure ea.</p>
                        </div>
                        <div class="flex h-2rem text-black border-round mt-2">
                            <p class="text-1xl ">Posted by AdminHr</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
        

       