.card-title{
    font-size: 16px;
    font-weight: 700;
}

.card-content{
    font-size: 12px;
    font-weight: 400;
}

.card-title-detail{
    font-size: 28px;
    font-weight: 700;
}

.card-content-detail{
    font-size: 16px;
    font-weight: 400;
}

#button{
    size: 50px;
}

.inputstyle{
    background-color: #CFCFCF;
    border-radius: 30px;
    border: #BC7682 1px solid;
    width: 500px;
}
