@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}


body{
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #c9d6ff, #e2e2e2);
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}


.glasses{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 

    /* background: linear-gradient(131.91deg, #FFFFFF 5.38%, rgba(255, 255, 255, 0.759921) 31.76%, rgba(255, 255, 255, 0.553999) 48.39%, rgba(255, 255, 255, 0.32716) 68.63%, rgba(255, 255, 255, 0) 100%);
box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(40px); */
/* Note: backdrop-filter has minimal browser support */

border-radius: 52px;

}

.mainhome{
    width: 200vh;
}

.inputstyle{
    background-color: #CFCFCF;
    border-radius: 30px;
    border: #BC7682 1px solid;
    width: 500px;
}