<div class="pl-5 mt-6 pr-5">
    <div class="flex w-16rem justify-content-between">
        <button pButton label="new" icon="pi pi-plus" style="background-color: #22C55E;" routerLink="/premium-types/create"></button>
    </div>

    <div class="mt-5">
        <p-table [showCurrentPageReport]="true"  [paginator]="true" [rowsPerPageOptions]="[10,25,50]" [rows]="10" [value]="premiumTypeData" class="glasses">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Is Active</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-list let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{list.code}}</td>
                    <td>{{list.price}}</td>
                    <td>{{list.duration}} Month</td>
                    <td>
                        <p-checkbox [binary]="true" [(ngModel)]="list.isActive" inputId="binary" [disabled]="true"></p-checkbox>
                    </td>
                    <td class="flex">
                        <button pButton pRipple type="button" icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="onUpdateById(list.id)"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirm(list.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>



</div>