<div class="p-5">
    <div>
        <h2 class="font-medium">Edit Role</h2>
    </div>
   
    <div class="glasses p-5 border-round h-22rem">
        <button pButton label="back" icon="pi pi-arrow-left" class="bg-red-500" styleClass="p-button-sm" routerLink="/roles"></button>
        <div>
   <form class=" pt-5 h-10rem">
    <div class="grid">
        <div class="col-6">
            <div class="flex flex-column mb-4">
                <label for="">Name Role <span class="text-red-500">*</span></label>
                <input pInputText name="roleName" class="inputstyle" [(ngModel)]="data.roleName">
            </div>
            <div class="flex flex-column">
                <label for="isActive">Is Active <span class="text-red-500">*</span></label>
                <p-checkbox value="true" id="isActive" [binary]="true" name="isActive" [(ngModel)]="data.isActive"></p-checkbox>
            </div>
        </div>
    </div>
            <div  class="flex justify-content-end">
                <p-button label="Save" styleClass="p-button-sm"></p-button>
            </div>      
        </form>
        </div>
     
    </div>
</div>